/* mobile */
@media only screen and (max-width: 739px) {
    /* ----------------------------------------<< COMMON >>--------------------------------------- */
#home {
    width: 100%;
    /* background: linear-gradient(to bottom, red, orange, yellow); */
}

#header {
    width: 100%;
    height: var(--height-header-mobile);
    /* background: linear-gradient(to bottom, var(--color-primary), var(--color-primary-bottom)); */
    background: var(--color-primary);
    position: fixed;
    z-index: 998;

    box-shadow: 0 1px 3px 1px #767676;
}

.header__header-top {
    width: 100%;
    height: calc(var(--height-header-mobile) / 2);
    padding-top: 3%;
    /* padding-left: 32%; */
}

.header__header-top--left {
    display: flex;
    flex-wrap: wrap;
    height: calc(var(--height-header) / 2);
    width: 56%;
    padding: 8px;
    display: none;
}

.header__header-top--center {
    position: absolute;
    left: 32%;
    height: calc(var(--height-header-mobile) / 2);
    width: calc(100% / 3);

    display: flex;
}

.header__header-top--center a {
    font-family: "Exo 2", sans-serif;
    font-size: 3.5rem;
    font-weight: 800;
    color: var(--color-white);
    margin: auto;
    letter-spacing: 0.5rem;
}

.header__header-top--right {
    position: absolute;
        left: -0.8rem;
        top: 12rem;
        /* bottom: -236%; */
        /* left: -9px; */
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        height: calc(var(--height-header) / 2);
        width: 65%;
        padding: 8px 0;
        text-align: left;
        display: none;
}

.header__notice {
    margin: 1.6rem 0;
}

.header__notice--list {
    display: none;
    position: absolute;
    top: 24px;
    right: 0;
    background-color: var(--color-white);
    z-index: 1;
    list-style: none;
    border: 1px solid var(--color-black);
    padding: 8px;

    transform-origin: calc(100%) top;
    animation: animationForShowMenus ease-in 0.3s;
    will-change: opacity, transform;
}

.header__header-top--left a {
    font-size: var(--size-text);
    color: var(--color-black);
    padding-right: 1.6rem;
    padding-bottom: 1.6rem;
    background-color: var(--color-white);
    display: none;
}

.header__header-top--right a{
    font-size: var(--size-text);
    color: var(--color-black);
    padding-left: 1.6rem;
}

.header__header-bottom {
    width: 100%;
    height: calc(var(--height-header-mobile) / 2);

   /* display: none; */
}

.header__header-bottom--left {
    width: calc(100% * 1.5/10);
    height: 100%;
    display: none;
}

.header__header-bottom--center {
    width: calc(100% * 7/10);
    height: 100%;

    position: relative;
}

.header__header-bottom--center input {
    position: absolute;
    top: -28px;
    left: 8px;
    width: 100%;
    height: calc(100% * 2/5);
    margin: auto;
    padding: 8px 62px 8px 62px;
    font-size: 1.5rem;
    border: none;
    border-radius: 4px;
    outline: none;
    font-weight: 500;
    text-align: center;
    display: none;
}

.header__header-bottom--center .icon_search {
    position: absolute;
    right: -40%;
    top: -147%;
    color: var(--color-primary-regular);
    background-color: var(--color-white);
    margin: 10px 0 10px 0;
    width: 5.2rem;
    height: 4rem;
    text-align: center;
    line-height: 4rem;
    font-size: 1.5rem;
    border-left: 4px solid var(--color-primary);
    border-radius: 50% 4px 4px 50%;
    cursor: pointer;

    transition: all 0.3s ease;
}

.header__header-bottom--right {
    height: 50%;
        top: 108%;
        position: absolute;
        left: 9px;
        /* padding-bottom: 1.6rem; */
        width: 50%;
        display: none;
}

.header__mess {
    position: relative;
}
.header__mess .have__mess {
    display: none;
}
.header__cart .icon__cart {
    display: none;
}
.header__mess .word,
.header__cart .word {
    display: block;
    margin: 16px 0;
    /* margin-left: 20px; */
    width: 100%;
}

.header__user {
    padding-top: 1.6rem;
}

.header__cart,
.header__mess {
    margin: 0;
    width: 53%;
}

.header__mess:hover .mess__list {
    display: block;
    border-color: transparent transparent var(--color-white) transparent;
}

.menu__box{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary-regular);
    z-index: 1000;
}

.menu__box .menu {
    background-color: var(--color-primary-regular);
}

.menu__box .header__header-top--right {
    position: absolute;
    left: -0.8rem;
    top: 12rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: calc(var(--height-header) / 2);
    width: 65%;
    padding: 8px 0;
    text-align: left;
}

.menu__box .header__header-top--left {
    display: flex;
    flex-wrap: wrap;
    height: calc(var(--height-header) / 2);
    width: 56%;
    padding: 8px;
    display: block;
}

.menu__box .header__header-top--left a {
    font-size: var(--size-text);
    color: var(--color-black);
    padding-right: 1.6rem;
    padding-bottom: 1.6rem;
    display: block;
    background-color: var(--color-primary-regular);
}

.menu__box .header__header-bottom--left {
    width: calc(100% * 1.5/10);
    height: 100%;
    display: block;
}

.menu__box .header__header-bottom--right {
    height: 50%;
    top: 8%;
    position: absolute;
    left: 9px;
    /* padding-bottom: 1.6rem; */
    width: 50%;
    display: block;
}

.menu__box .header__mess {
    position: relative;
}
.menu__box .header__mess .have__mess {
    display: none;
}
.menu__box .header__cart .icon__cart {
    display: none;
}
.menu__box .header__mess .word,
.menu__box .header__cart .word {
    display: block;
    margin: 16px 0;
    /* margin-left: 20px; */
    width: 100%;
}

.menu__box .icon_exit span {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    font-size: 40px;
}

.header__footer {
    width: 100%;
    height: var(--height-header-mobile);
}



.header__user {
    padding-bottom: 10rem;
    padding-right: 10rem;
}

/* ----------------------------------------<< FOOTER >>--------------------------------------- */
#footer {
    border-top: 4px solid rgb(80, 147, 255);
}

.footer-top {
    padding: 36px 0;
    background-color: rgb(242, 242, 242);
}

.footer-top__container {
    display: block;
}

.footer-top__list {
    width: 100%;
}

.footer-top__title {
    font-size: 2.2rem;
    padding: 20px 0;
    width: 100%;
    text-align: center;
}

.footer-top__item {
    font-size: 1.5rem;
    padding: 4px 0;
    display: block;
    text-decoration: none;
    color: var(--color-primary-regular);
    width: 100%;
    text-align: center;
}

.footer-top__logo-bank {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0 50px;
}

.footer-top__logo-bank img {
    width: calc(100% / 6 - 8px);
    margin: 8px 16px 8px 0;
    border-radius: 50%;
}

.footer-top__logo-ship {
    display: flex;
    justify-content: center;
    padding: 0 50px;
}

.footer-top__logo-ship img {
    width: calc(100% / 4 - 8px);
    margin: 8px 16px 8px 0;
}

.footer-bottom__top a {
    font-size: 1.5rem;
    color: var(--color-black);
    text-decoration: none;
    width: 25%;
    font-weight: bold;
}

.icon_menu span{
    position: absolute;
    top: 1.4rem;
    left: 1rem;
    color: var(--color-white);
    cursor: pointer;
    font-size: 4rem;
}
}