.product__container {
    width: 100%;
}

.breadcrumb_navigation {
    width: 100%;
    padding: 16px 0;
    /* height: 1rem; */
    overflow: hidden;
    display: inline-block;
    white-space: nowrap; /* Prevents line breaks */
    border-bottom: 1px solid var(--color-primary);
}

.breadcrumb_navigation a,
.breadcrumb_navigation span {
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-decoration: none;
    color: var(--color-black);
    margin-right: 8px;
}

.breadcrumb_navigation a:last-child {
    overflow: hidden;
    text-overflow: ellipsis; /* Adds ellipsis at the end */
    white-space: nowrap; /* Prevents line breaks */
    display: inline-block;
    vertical-align: bottom;
}

.product__about {
    display: flex;
    justify-content: space-between;
}

.product__left {
    width: calc(100% / 5 * 2 + 0px);
    box-sizing: border-box;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
}

.product__left--bigImg {
    width: 100%;
    height: 448px;
    margin-bottom: 8px;
    border: 1px solid var(--color-primary);
}

.product__left--bigImg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product__left--smallImg {
    width: 100%;
    position: relative;
}

.product__left--smallImg .btn__toLeft,
.product__left--smallImg .btn__toRight {
    user-select: none;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 0;
    /* background: var(--color-white); */
    border: 1px solid var(--color-primary);
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-weight: 100;
    color: var(--color-primary);
}

.product__left--smallImg .btn__toLeft {
    left: 0;
    transform: translateX(-50%) translateY(80%);
}

.product__left--smallImg .btn__toRight {
    right: 0;
    transform: translateX(50%) translateY(80%);
}

.smallImg__container {
    overflow: hidden;
    width: 100%;
    height: 100px;
    position: relative;
}

.product__left--smallImg .item {
    box-sizing: border-box;
    width: calc(100% / 5 - 4px);
    height: 90px;
    margin-right: 5px;
    padding-top: 1px;
    position: absolute;
    top: 0;
    transition: all .3s ease;
}

.product__left--smallImg .focus {
    border: 1px solid var(--color-primary);
}

.product__left--smallImg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product__right {
    width: calc(100% / 5 * 3 - 8px);
    padding: 16px 0 0;
}

.product__right .product__item {
    width: 100%;
    margin-bottom: 20px;
}

.product__title span {
    font-size: 2rem;
    color: var(--color-black);
    line-height: 3rem;
}

.product__rating a {
    font-size: 1.5rem;
    padding: 0 16px;
    color: var(--color-black);
    text-decoration: none;
    border-right: 1px solid var(--color-black);
}

.product__rating a:first-child {
    padding: 0 16px 0 0;
}

.product__rating a:last-child {
    border: none;
}

.product__price span:first-child {
    color: var(--color-pale);
    font-size: calc(var(--size-text) - 0.2rem);
    font-style: italic;
    text-decoration: line-through;
    margin-right: 8px;
}

.product__price span:last-child {
    color: var(--color-red);
    font-size: calc(var(--size-text) + 0.5rem);
}

.product__voucher {
    position: relative;
    width: auto !important;
    display: inline-block;
}

.product__voucher span {
    display: inline-block;
    font-size: 1.5rem;
    color: var(--color-white);
    padding: 12px 12px;
    background-color: var(--color-primary);
    cursor: pointer;
}

.product__voucher:hover .product__voucher--list {
    display: block;
}

.product__voucher--list {
    display: none;
    width: 300px;
    padding: 8px;
    box-sizing: border-box;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: var(--color-white);
    border: 1px solid var(--color-primary);
    max-height: 160px;
    overflow-y: scroll;
}

.product__voucher--item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
    padding: 8px 0;
    border-bottom: 1px solid var(--color-primary);
}

.product__voucher--item:last-child {
    border: none;
}

.product__voucher--item p:first-child {
    font-size: 1.2rem;
    width: 32px;
    height: 16px;
    text-align: center;
    padding: 4px;
    color: var(--color-white);
    background-color: var(--color-primary);
}

.product__voucher--item p:nth-child(2) {
    font-size: 1.5rem;
    width: 60%;
    text-align: left;
    color: var(--color-black);
    line-height: 26.85px;
}

.product__voucher--item input {
    font-size: 1.5rem;
    padding: 4px;
    color: var(--color-black);
    background-color: var(--color-white);
    border: 1px solid var(--color-primary);
    cursor: pointer;
    transition: all .3s ease;
}

.product__voucher--item input:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
}

.product__right .product__attribute {
    width: auto;
}

.product__attribute p {
    font-size: 1.5rem;
    margin-bottom: 8px;
}

.product__attribute input[type="radio"] {
    display: none;
}

.product__attribute label {
    box-sizing: border-box;
    font-size: 1.5rem;
    min-width: 50px;
    padding: 8px 16px;
    margin: 0 8px 8px 0;
    border: 1px solid var(--color-primary);
    text-align: center;
    display: inline-block;
    cursor: pointer;
    user-select: none;
}

.product__attribute input[type="radio"]:checked + label {
    background-color: var(--color-primary);
    color: var(--color-white);
}

.product__attribute .product__quantity {
    position: relative;
    width: auto;
    width: 140px;
}

.product__attribute .product__quantity .btnSub {
    position: absolute;
    top: 0;
    left: 0;
    width: 44px;
    height: 44px;
    box-sizing: border-box;
    line-height: 44px;
    text-align: center;
    border: 1px solid var(--color-primary);
    user-select: none;
    cursor: pointer;
}

.product__attribute .product__quantity .btnAdd {
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 44px;
    box-sizing: border-box;
    line-height: 44px;
    text-align: center;
    border: 1px solid var(--color-primary);
    user-select: none;
    cursor: pointer;
}

.product__attribute .product__quantity input {
    padding: 12px 44px;
    font-size: 1.5rem;
    width: 140px;
    height: 44px;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid var(--color-primary);
    outline: none;

    -moz-appearance: textfield; /* Firefox */
}
.product__attribute .product__quantity input::-webkit-outer-spin-button,
.product__attribute .product__quantity input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.product__action input {
    background-color: var(--color-white);
    border: 1px solid var(--color-primary);
    padding: 12px;
    font-size: 1.5rem;
    min-width: 190px;
    cursor: pointer;
    margin-right: 8px;
    transition: all .3s ease;
}

.product__action input:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
}

.deal {
    padding: 36px 0;
    border-top: 1px solid var(--color-primary);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title-part {
    width: 100%;
    text-align: left;
    font-size: 2rem;
    font-weight: 400;
    margin: 0 0 36px;
}

.deal__list {
    width: calc(80% - 8px);
    display: flex;
    justify-content: space-between;
}

.deal__list>p {
    width: 16px;
    line-height: 150px;
    text-align: center;
}

.deal__item {
    width: 180px;
}

.deal__img {
    width: 100%;
    height: 180px;
    margin-bottom: 8px;
    box-shadow: 0 0 4px -2px var(--color-black);
}

.deal__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.deal__item p {
    font-size: 1.3rem;
    margin-bottom: 4px;

    /* gioi han 2 dong` */
    line-height: 2rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.deal__item span:first-child {
    text-decoration: line-through;
    color: var(--color-pale);
}

.deal__item span:last-child {
    color: var(--color-red);
}

.deal__buy {
    box-sizing: border-box;
    width: calc(20% - 8px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-left: 1px solid var(--color-primary);
}

.deal__buy p {
    font-size: 1.5rem;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

.deal__buy--save {
    color: var(--color-red);
}

.deal__buy .deal__buy--total,
.deal__buy .deal__buy--save {
    border: none;
    text-align: center;
    font-size: 1.3rem;
    background-color: rgba(0, 0, 0, 0);
}

.deal__buy .deal__buy--total {
    color: var(--color-red);
}

.deal__buy .deal__buy--save {
    color: var(--color-black);
}

.deal__buy input {
    padding: 8px 24px;
    cursor: pointer;
    background-color: var(--color-white);
    border: 1px solid var(--color-primary);
    font-size: 1.5rem;
    color: var(--color-black);
    transition: all .3s ease;
}

.deal__buy input:not(.deal__buy--save):not(.deal__buy--total):hover {
    background-color: var(--color-primary);
    color: var(--color-white);
}

.shop {
    padding: 16px 0;
    width: 100%;
    border-top: 1px solid var(--color-primary);
    display: flex;

}

.shop__about {
    flex: 2;

    display: flex;
}

.shop__logo {
    height: 80px;
    width: 80px;
    margin: 0 16px;
}

.shop__logo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.shop__name {

}

.shop__name p {
    font-size: 2rem;
    line-height: 40px;
}

.shop__name button {
    font-size: 1.5rem;
    padding: 12px 16px;
    margin-right: 8px;
    border: 1px solid var(--color-primary);
    background: var(--color-white);
    color: var(--color-black);
    cursor: pointer;
    transition: all .3s ease;
}

.shop__name button:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
}

.shop__desc {
    border-left: 1px solid var(--color-primary);
    flex: 3;
    display: flex;
    flex-wrap: wrap;
}

.shop__desc p {
    width: 50%;
    line-height: 40px;
    text-align: center;
    font-size: 1.4rem;
}

.product__detail {
    padding: 36px 0;
    border-top: 1px solid var(--color-primary);
}

.product__detail--item {
    box-sizing: border-box;
    margin-bottom: 8px;

    display: flex;
    align-items: flex-start;
}

.product__detail--item label {
    font-size: 1.4rem;
    line-height: 2rem;
    display: inline-block;
    width: 180px;
    padding-right: 16px;
    color: var(--color-pale);
}

.product__detail--item div {
    font-size: 1.4rem;
}